/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.json
composer.lock
/public/backup
/app/Http/Auth/LoginController.php
app/Http/Controllers/Auth/LoginController.php
composer.lock
